.tippy-tooltip [x-circle] {
    position: absolute;
    will-change: transform;
    background-color: #333;
    /* border-radius: 50%; */
    /* width: 130%; */
    width: calc(110% + 2rem);
    left: 50%;
    top: 32%;
    height: 500px;
    z-index: -1;
    /* overflow: hidden; */
    transition: all ease
}